body {
  font-family: Arial;
  padding: 20px;
  background: #101010;
  color: #fff;
}

#messages {
  border: 1px solid #333;
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  width: 60%;
}

button {
  padding: 8px 15px;
}
